<p>
        <a routerLink="new" class="btn btn-primary"> New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async">
            <td> {{ p.payload.val().title }} </td>
            <td> {{ p.payload.val().price}} </td>
            <td>
                <a [routerLink]="[p.key]"> Edit</a>
            </td>
        </tr>
    </tbody>
</table>